
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #687078;
    color: white;
}

header {
    height: 75px;
    background-color: #454545;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 2px solid #555;
}

header h1 {
    font-size: 38px;
    font-weight: bold;
    color: white;
}

header p {
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
}

header a:hover {
    color: #cccccc;
    text-decoration: underline;
}
main {
    width: 100%;
    padding: 48px 14px;
}
.cartLook {
    width: 100%;
}
.cartGame {
    width: 100%;
    min-height: 212px;
    background-color: #585e62;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    padding: 0;
}

.gameImage {
    width: 450px;
    height: 212px;
    object-fit: cover;
    display: block;
}

.gameInfo {
    height: 212px;
    flex: 1;
    padding: 25px 20px;
    position: relative;
}

.gameInfo h2 {
    font-size: 29px;
    font-weight: normal;
    margin-bottom: 25px;
    color: white;
}

.gameInfo p {
    font-size: 18px;
    margin-bottom: 20px;
}

.gamePrice {
    position: absolute;
    right: 25px;
    bottom: 30px;
    background-color: #292929;
    padding: 12px 30px;
    font-size: 22px ;
    margin: 0;
}
.removeForm {
    width: 180px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.gamesBtn {
    width: 145px;
    height: 47px;
    border-radius: 20px;
    border: 2px solid #111;
    background-color: #f44343;
    color: black;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.gamesBtn:hover {
    background-color: #d93232;
    transform: scale(1.03);
}
.paymentLook {
    width: 100%;
    background-color: #585e62;
    padding: 25px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paymentLook h2 {
    font-size: 27px;
    font-weight: normal;
}
.paymentLook button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #111;
    background-color: #4ddf57;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.paymentLook button:hover {
    background-color: #38c942;
    transform: scale(1.03);
}
.emptyCart {
    width: 100%;
    background-color: #585e62;
    padding: 60px;
    text-align: center;
    font-size: 28px;
}
